<div class="alert alert-success" ng-if="vm.showAlert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> {{vm.alertMessage}}
</div>

<form class="form-horizontal" role="form" name="addTipForm">
    <div class="col-md-12">
        <input type="text" class="form-control col-md-12" placeholder="Ttitle..." ng-model="vm.tipToAdd.title" required>
    </div>
    <div class="col-md-12" style="margin-top:15px"></div>
    <div class="col-md-12">
        <textarea class="form-control" rows="4" placeholder="Description..." ng-model="vm.tipToAdd.description" required></textarea>
    </div>
    <div class="col-md-12" style="margin-top:15px">
    </div>
    <div class="col-md-9">
        <select class="form-control" ng-model="vm.tipToAdd.category_id" required convert-to-number>
            <option value="" disabled selected>Please select a category</option>
            <option ng-repeat="category in vm.categories" value="{{category.id}}">{{category.title}}</option>
        </select>
    </div>
    <div class="col-md-3">
        <button type="submit" ng-disabled="addTipForm.$invalid" class="btn btn-primary pull-right" ng-click="vm.addTip()">Add Tip&Trick</button>
    </div>
</form>


<div id="tipsContainer" style="margin-top:50px" class="col-md-12">
    <div ng-repeat="tip in vm.tips" style="margin-bottom:10px; box-shadow:0px 0.5px 2px 0px black; padding:10px; border-radius:3px; position:relative">
        <div class="col-md-7">
            <div style="font-weight:bold">{{tip.title}}</div>
            <div>{{tip.description}}</div>
            <div style="color:gray; font-size:10px; right:0; top:0; position:aboslute;">{{vm.toHumanDate(tip.date_created)}}</div>
        </div>
        <div class="col-md-5">
            <div class="pull-right">
                <input-stars class="col-md-12" ng-model="tip.rating" max="5" ng-click="vm.rate(tip)"></input-stars>
                <div class="col-md-12">Average rating: {{vm.formatNumber(tip.average_rating)}}</div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>